<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>472454370090-ick7l1ka2puv3kma1q423n87jttak9sh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.472454370090-ick7l1ka2puv3kma1q423n87jttak9sh</string>
	<key>API_KEY</key>
	<string>AIzaSyBVptd5he7f3PfFAmgmL4-xHE69WhpgZPs</string>
	<key>GCM_SENDER_ID</key>
	<string>472454370090</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.topgrowth.utsavbusa.Authentication</string>
	<key>PROJECT_ID</key>
	<string>authentication-f41a4</string>
	<key>STORAGE_BUCKET</key>
	<string>authentication-f41a4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:472454370090:ios:7cf9094a1f4f84d78e4453</string>
</dict>
</plist>